<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header Moderno</title>
    <link rel="stylesheet" href="/static/Css/stylee.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>

  

<body>
  <div class="container">
    <div class="header">
      <div class="header-content">
        <img src="/static/Img/Sabor.png" alt="Logo de Sabor Local">
        <h1>Sabor Local</h1>
      </div>
    </div>
    <div>
      <h2>INICIAR SESION</h2>
      <form>
        <label for="correo">Correo electronico / Numero de telefono:</label>
        <input type="text" id="correo" name="correo" required>

        <label for="contrasena">Contraseña:</label>
        <input type="password" id="contrasena" name="contrasena" required>

        <button type="submit">INICIAR SESION</button>
      </form>
    </div>
    <div class="signup-link">
      <p>¿Eres nuevo? <a href="registro.html">Crea tu cuenta en SaborLocal</a></p>
    </div>
  </div>
</body>
</html>