<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Promociones</title>
    <link rel="stylesheet" href="/static/Css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    
</head>
<body>
    <header>
        <div class="logo-container">
            <a href="/templates/index.html">
                <img src="/static/Img/Sabor.png" alt="Logo" class="logo">
            </a>
        </div>
        
        <div class="search-container">
            <input type="text" placeholder="Buscar..." class="search-input" id="searchInput">
            <button class="search-button" id="searchButton">
                <i class="fas fa-search"></i>
            </button>
        </div>
        
        <div class="cart-container">
            <a href="carrito.html">
                <i class="fas fa-shopping-cart cart-icon"></i>
            </a>
            <span id="cart-count">0</span>
        </div>
        
        <div class="user-menu">
            <div class="user-icon" id="userIcon">
                <i class="fas fa-user-circle"></i>
            </div>
            <div class="dropdown-menu" id="dropdownMenu">
                <a href="#"><i class="fas fa-cog"></i> Configuración</a>
                <a href="login.html"><i class="fas fa-sign-out-alt"></i> Cerrar sesión</a>
            </div>
        </div>
    </header>

    <nav class="main-menu">
        <ul>
            <li><a href="catalogo.html"><i class="fas fa-book"></i> Catálogo</a></li>
            <li><a href="promociones.html"><i class="fas fa-tag"></i> Promociones</a></li>
            <li><a href="pedidos.html"><i class="fas fa-clipboard-list"></i> Pedidos</a></li>
        </ul>
    </nav>

    <main class="promociones" id="productList">
        <div class="promocion">
            <img src="/static/Img/jitomate.jpg" alt="jitomate en oferta">
            <h3>Jitomate Frescos</h3>
            <p class="precio-original">$12.00</p>
            <p class="precio-descuento">$9.99</p>
            <button class="boton-comprar">Comprar ahora</button>
        </div>
        

        <div class="promocion">
            <img src="/static/Img/uvas.jpg" alt="Uvas en oferta">
            <h3>Uvas Dulces</h3>
            <p class="precio-original">$18.00</p>
            <p class="precio-descuento">$14.99</p>
            <button class="boton-comprar">Comprar ahora</button>
        </div>

        <div class="promocion">
            <img src="/static/Img/Manzana.jpg" alt="Manzanas en oferta">
            <h3>Manzanas Crujientes</h3>
            <p class="precio-original">$15.00</p>
            <p class="precio-descuento">$11.99</p>
            <button class="boton-comprar">Comprar ahora</button>
        </div>

        <div class="promocion">
            <img src="/static/Img/naranjas.png" alt="Naranjas en oferta">
            <h3>Naranjas Jugosas</h3>
            <p class="precio-original">$14.00</p>
            <p class="precio-descuento">$10.99</p>
            <button class="boton-comprar">Comprar ahora</button>
        </div>

        <div class="promocion">
            <img src="/static/Img/platanos.png" alt="Plátanos en oferta">
            <h3>Plátanos Maduros</h3>
            <p class="precio-original">$16.00</p>
            <p class="precio-descuento">$12.99</p>
            <button class="boton-comprar">Comprar ahora</button>
        </div>

        <div class="promocion">
            <img src="/static/Img/fresas.png" alt="Fresas en oferta">
            <h3>Fresas Dulces</h3>
            <p class="precio-original">$17.00</p>
            <p class="precio-descuento">$13.99</p>
            <button class="boton-comprar">Comprar ahora</button>
        </div>

    </main>

    <div class="footer">
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fas fa-phone"></i></a>
        <a href="#"><i class="fas fa-envelope"></i></a>
    </div>

    <script src="/Js/buscador.js"></script>
    <script src="/Js/iconousuario.js"></script>
    <script src="/Js/carrito.js"></script>
    <script src="/Js/contador.js"></script>
    <script src="/Js/localstorage.js"></script>
</body>
</html>